.Card {
	width: 30%;
	background: hsla(0, 0%, 0%, .7);
	color: #92ACA3;
	border: 2px solid #2B3536;
	border-radius: 25px;
	margin: 10px;
	padding: 7px;
	box-shadow: 0px 0px 10px 2px #0ff;
}

.Card-header {
	padding: 3px;
	color: #F3DA4A;
	font-family: 'Quantico', sans-serif;
}

.favorite {
	background-color: transparent;
	border: none;
}

.diskette {
	width: 26px;
	margin-bottom: 16px;
}

.diskette:hover {
	box-shadow: 0px 0px 20px 3px #F3DA4A;
}